/* Globals */
a,a:focus,a:hover{color:#000000;}
html,body{
	height:100%;
	background-color:#66A5AD;
}
body{
	color:#fff;
	text-align:center;
}
.hide{
	display:none;
}
.landing-heading{
	font-family:'Source Code Pro',monospace;
	font-weight:400;
}

.topbar {
	background-color: #C4DFE6;
	padding-bottom:50px;
}

.topbar div {
    text-align: center;
    text-decoration: none;
}

.button1 {
	background-color: #07575B; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button1:hover {
	background-color: #003B46;
}

.header-buttons {
	float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.profile-image {
	float:right;
	width:50px;
	height:50px;
}

.dropdown {
	position:relative;
}

.dropdown-content {
	padding-top:50px;
	text-align:left;
	font-size: 12px;
	position:absolute;
	right:0;
	display:none;
	color:#000000;
}

.profile-subsection {
	background-color: #C4DFE6;
	overflow: visible;
}

.dropdown:hover .dropdown-content {
	display:block;
}

/* Buttons */
.btn{
	font-family:'Source Code Pro',monospace;
	font-size:0.8125rem;
	font-weight:400;
	line-height:1.75rem;
	border-radius:0!important;
}
.btn-lg{
	font-size:0.875rem;
	
	line-height:1.75rem;
}
.btn:focus,.btn:active:focus,.btn.active:focus{outline:none;}
.btn-primary{
	background-color:#270F34;
	border:1px solid #270F34;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{
	color:#fff;
	border:1px solid #2C96FF;
	background-color:#2C96FF;

}

