/* Globals */
a,a:focus,a:hover{color:#fff;}
html,body{
	height:100%;
	background-color:#B4C8C9;
}
body{
	color:#fff;
	text-align:center;
}
.hide{
	display:none;
}
.landing-heading{
	font-family:'Source Code Pro',monospace;
	font-weight:400;
}

.profile {
	background-color: #FFEED6;
	padding-bottom:50px;
}

.profile-image {
	float:right;
	width:50px;
	height:50px;
}

.dropdown {
	position:relative;
}

.dropdown-content {
	padding-top:50px;
	text-align:left;
	font-size: 12px;
	position:absolute;
	right:0;
	display:none;
	color:#000000;
}

.profile-subsection {
	background-color: #FFEED7;
}

.dropdown:hover .dropdown-content {
	display:block;
}


/* Buttons */
.btn{
	font-family:'Source Code Pro',monospace;
	padding:0.5625rem 2.5rem;
	font-size:0.8125rem;
	font-weight:400;
	line-height:1.75rem;
	border-radius:0!important;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-ms-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.btn-lg{
	font-size:0.875rem;
	padding:0.6875rem 3.4375rem;
	line-height:1.75rem;
}
.btn:focus,.btn:active:focus,.btn.active:focus{outline:none;}
.btn-primary{
	background-color:#270F34;
	border:1px solid #270F34;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{
	color:#fff;
	border:1px solid #2C96FF;
	background-color:#2C96FF;

}

/* Home button */
.btn-home-hello{
	position:absolute;
	font-family:'Source Code Pro',monospace;
	font-size:11px;
	font-weight:400;color:rgba(255,255,255,0.85);
	top:15px;
	left:15px;
	padding:3px 20px;
	background-color:rgba(255,255,255,0.15);
	border-radius:6px;
	-webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);
	-moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);
	box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);
}

